html { height: 100%; }

body 
{
    background: white;
    color: #7F7F7F;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: small;
    line-height: 1.7em;
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: scroll;
}

h1 
{
	padding-top:40px;
	font-size: 2em;
	font-weight: bold;
	font-style: italic ;
	color: #434041;
	text-align: left;
}

table
{
    border: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: #000000;
	border-spacing: 100px;
	width: 100%;
	height: 100%;
}  

table.main
{
    background: url(../images/up-left-corner.png) no-repeat top left,
    url(../images/bottom-left-corner.png) no-repeat bottom left,
    url(../images/up-right-corner.png) no-repeat top right,
    url(../images/up-left-corner.png) no-repeat top left;
    border-spacing: 0px;
    border-style: none;
}

td.main
{
    padding: 0px;
    border-style: none;
}

textarea
{
	font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: small;
    color: #000000;
    width: 80%;
    height: 15em;
    margin-left: 2px;
    resize: none;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

textarea.info
{
	font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: 0.5em;
    color: #000000;
    background-color: #E0E0E0;
    width: 95%;
    height: 100%;
    margin: 0px;
    resize: none;
}

select
{
    width: 100%;
}

input, text
{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

a.toggler
{
	font-size:1.2em;
	font-weight:bold;
	display:block;
	width:30px;
	text-decoration:none;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:2px;
	padding-right:2px;
	width: 100%;
	cursor: pointer
}

a.toggler:hover
{
	color: #539AD9;
}

.boldText
{
	font-weight: bold;
}

.innerTable
{
	width: 100%;
    border-style: solid;
	border-spacing: 0px;
	border-width: 0px;
	/*border-color: #FF0000;*/
}

.innerCell
{
	padding: 5px;
    vertical-align: middle;
    /*border-width: 1px;
    border-style: dashed;*/
}

.optsCell
{
    padding: 5px;
    vertical-align: top;
    /*border-width: 1px;
    border-style: dashed;*/
}

.buttonCell
{
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: middle;
    /*border-width: 1px;
    border-style: dashed;*/
}

.colorTableCellColor
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
    vertical-align: middle;
    text-align: left;
    /*border-width: 1px;
    border-style: dashed;*/
}

.colorTableCellText
{
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
    vertical-align: middle;
    text-align: left;
    font-size: 0.9em;
    /*border-width: 1px;
    border-style: dashed;*/
}

.layoptCell
{
	padding: 2px;
    vertical-align: middle;
    text-align: left;
}

.goLabel
{
	border-width: 1px;
	border-color: #000000;
	border-style: dashed;	
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 0.9em;
	color: #555555;
}

.goLabel:hover
{
	background-color: #FFE5E0;
	cursor: pointer;
}

.optsGroup
{
	background-color: #F4F4F4;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.mainContainer 
{
    margin-left: 60px;
    margin-right: 60px;
	margin-top: 20px;
    margin-bottom: 20px;
	/*height: 100%;*/
    width: 80%;
}

.fieldSetTitle
{
	font-weight: bold;
	color: #555555;
	background-color: #FFFFDA;
	border: solid 1px black;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 5px;
}

#welcome
{
	display: fixed;
	margin-left: 1px;
	margin-right: 1px;
	height: 220px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #FFFFDA;
	border-style: none;
	font-size: 0.9em;
	line-height: 1.15em;
	text-align: left;
}

#graphContainer 
{		
	width: 75%;
	height: 640px;
	border: solid;
	border-width: 1px;
	border-color: #000000;
}

#functionContainer
{    
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #E0E0E0;
    border: solid;
    border-color: #000000;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    vertical-align: text-top;    
}

#metadataContainer
{	
	width: 100%;
	height: 100%;
	padding: 5px;
	background-color: #E0E0E0;
	border: solid;
	border-color: #000000;
	border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
	line-height: 2em;
}

#advancedContainer
{    
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #E0E0E0;
    border: solid;
    border-color: #000000;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    vertical-align: text-top;    
}

#infoContainer
{
	display: fixed;
	margin-left: 2px;
	margin-right: 2px;
	height: 200px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	color: #0000FF;
	background-color: #EDEDED;
	border-width: 2px;
	border-style: ridge;
	border-color: #BBBBBB;
	font-size: 0.9em;
	line-height: 1.2em;
	text-align: left;
	overflow: auto;
}

#layoutOptionContainer
{
	font-size: 0.8em;
}

#executeLayoutButton
{
	
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width: 10em;
}

#cytoscapeweb 
{ 
	width: 100%;
	height: 100%;
	text-align: center;
    display: block;
}

#errorText
{
	font-size: 0.9em;
	margin-left: 5px;
	color: #FF0000;
	display: none;
	width: 13em;
}

#errorContainer
{
	font-size: 1.1em;
	color: #FF0000;
	display: none;
}

#debugContainer
{
	font-size: 1.1em;
	color: #0000FF;
	display: none;
}

.primaryButton 
{
	font-size: 1.2em;
	margin-left: 2px;
    margin-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
	float: left;
    overflow: visible;
}

.secondaryButton 
{
	font-size: 0.9em;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-top: 0px;
	float: left;
    overflow: visible;
}

.exportButton 
{
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-style: ridge;
    border-width: 1px;
    width: 64px;
    height: 32px;
	float: left;
    overflow: visible;
}

.footer 
{
	padding-left:30px;
	width:900px;
}

.disclaimer 
{
	font-size:0.8EM;
}

.logos 
{
	width:900px;
	text-align:center;
}

.logo
{
	padding:10px;
	width:95px;
	height:45px;
}

.infolink 
{ 
	text-decoration: underline; 
	color: #FF0000; 
	cursor: pointer; 
}

.error
{
	font-size: 1.1em;
	color: #FF0000;
}

.ui-autocomplete 
{
	position: relative;	
	max-height: 200px;
	max-width: 13em;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
	background-color: #FFFFFF;
	font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: 0.9em;
}

.attention { font-size: small; }

.modalsif
{
	color: #AE0000;
	font-size: 0.7em;
}

.tooltip
{
	display: none;
	background: transparent url(../images/tooltip_top.png);
	font-size: 11px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 190px;
	height: 170px;
	line-height: 1.3em;
	color: #000000;
}

.tooltip.top
{
	background: transparent url(../images/tooltip_top.png);
}

.tooltip.bottom
{
	background: transparent url(../images/tooltip_bottom.png);
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	width: 190px;
	height: 155px;	
}

.tooltip.right
{
	background: transparent url(../images/tooltip_right.png);
	padding-top: 20px;
	padding-left: 25px;
	width: 182px;
	height: 160px;	
}

.tooltip.left
{
	background: transparent url(../images/tooltip_left.png);
	padding-top: 15px;
	padding-left: 15px;
	width: 190px;
	height: 165px;
}

/*html .ui-autocomplete { height: 200px; }*/
