/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;	
	border-bottom:1px solid #666;	
	height:30px;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important;
}

/* Molecule search */
ul.tabs li.mol { 
	float:left;
	text-indent:0;
	padding:0;
	width: 25%;
	margin:0 !important;
	list-style-image:none !important;
	background-color:#505050;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
}

/* KUPKB data */
ul.tabs li.kupkb { 
	float:left;
	text-indent:0;
	padding:0;
	width: 25%;
	margin:0 !important;
	list-style-image:none !important;
	background-color:#505050;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
}

/* Meta data */
ul.tabs li.meta { 
	float:left;
	text-indent:0;
	padding:0;
	width: 25%;
	margin:0 !important;
	list-style-image:none !important;
	background-color:#505050;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
}

/* Advanced */
ul.tabs li.advanced { 
	float:left;
	text-indent:0;
	padding:0;
	width: 25%;
	margin:0 !important;
	list-style-image:none !important;
	background-color:#505050;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	/*background: url(images/blue.png) no-repeat -420px 0;*/
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.5px;
	display: block;
	height: 30px;  
	line-height: 30px;
	width: 100%;
	text-align: center;	
	text-decoration: none;
	color: #F0F0F0;
	padding: 0px;
	margin: 0px;	
	position: relative;
	top: 1px;
	overflow: hidden;
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background-position: -420px -31px;	
	color:#F0F0F0;	
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	/*background-position: -420px -62px;*/
	cursor:default !important; 
	color:#5A5A5A !important;
	border-right-style: solid;
	border-left-style: solid;
	border-right-width: 1px;
	border-left-width: 1px;
	background-color:#E0E0E0;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
}

/* Different widths for tabs: use a class name: s, l, xl */


/* width 1 */
ul.tabs a.s 			{ background-position: -553px 0; width:81px; }
ul.tabs a.s:hover 	{ background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l 			{ background-position: -247px -0px; width:174px; }
ul.tabs a.l:hover 	{ background-position: -247px -31px; }
ul.tabs a.l.current  { background-position: -247px -62px; }


/* width 3 */
ul.tabs a.xl 			{ background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover 	{ background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}
