html { height: 100%; }

body 
{
    background: white;
    color: #7F7F7F;
    font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: small;
    line-height: 1.7em;
    background: url(images/up-left-corner.png) no-repeat top left,
    url(images/bottom-left-corner.png) no-repeat bottom left,
    url(images/up-right-corner.png) no-repeat top right;
    background: url(images/up-left-corner.png)\0/;
    height: 100%;
}

table
{
	border: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: #000000;
	border-spacing: 100px;
	width: 100%;
	height: 100%;
}

textarea
{
	font-family: Arial Unicode MS, Arial, sans-serif;
    font-size: small;
    color: #000000;
    width: 13em;
    height: 13em;
    margin-left: 2px;
    resize: none;
}

select
{
    width: 10em;
}

div.abs { position: absolute; }

.boldText
{
	font-weight: bold;
}

.innerTable
{
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
}

.innerCell
{
	padding: 5px;
}

.mainContainer 
{
	margin-right:50px;
	margin-left: 50px;
	padding-left: 30px;
	padding-top:20px;
	padding-bottom:50px;
	height: 100%;
}

.fieldSetTitle
{
	font-size: 1.2em;
	font-weight: bold;
}

#graphContainer 
{		
	width: 85%;
	height: 90%;
	border: solid;
	border-width: 1px;
	border-color: #000000;
}

#controlContainer
{	
	width: 100%;
	background-color: #E0E0E0;
	border: solid;
	border-width: 1px;
	border-color: #000000;
	padding: 5px;
	line-height: 2em;
}

#functionContainer
{	
	width: 15%;
	background-color: #FFFFEC;
	border: solid;
	border-width: 1px;
	border-color: #000000;
	vertical-align: text-top;	
}

#cytoscapeweb 
{ 
	width: 100%;
	height: 100%; 
}

#errorText
{
	font-size: 0.9em;
	margin-left: 5px;
	color: #FF0000;
	display: none;
	width: 13em;
}

#errorContainer
{
	font-size: 1.1em;
	color: #FF0000;
	display: none;
}

#debugContainer
{
	font-size: 1.1em;
	color: #0000FF;
	display: none;
}

h1 
{
	padding-top:40px;
	font-size: 2em;
	font-weight: bold;
	font-style: italic ;
	color: #434041;
	text-align: left;
}

.searchButton 
{
	font-size: 1.2em;
	margin-left: 2px;
}

.mainPageTitle 
{
	margin:	6em 7.5em;
	position:absolute;
	left:225px;
	top:0;
	height: 90px;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

.footer 
{
	padding-left:30px;
	width:900px;
}

.disclaimer 
{
	font-size:0.8EM;
}

.logos 
{
	width:900px;
	text-align:center;
}

.logo 
{
	padding:10px;
	width:95px;
	height:45px;
}

tr.odd 
{
	background-color: #ECECEC;
}

.navtext 
{
	width:250px;
	font-size:8pt;
	border-width:2px;
	border-style:outset;
	border-color:darkgray;
	layer-background-color:lightyellow;
	background-color:lightyellow;
	color:black;
}

#note 
{ 
	width: 100%;
	text-align: center;
	padding-top: 1em; 
}

.link 
{ 
	text-decoration: underline; 
	color: #0b94b1; 
	cursor: pointer; 
}
